<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Nome:" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "Email:" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Senha:" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Confirmação de senha:" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Enviar" %></p>
<% end %>

